modules = ["python-3.12"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41665455
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python cli.py"
